.u-section-1 .u-sheet-1 {
  min-height: 177px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-size: 3.75rem;
  margin: 60px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 20px auto 0;
}

.u-section-2 .u-text-2 {
  width: 593px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  width: 569px;
  margin: -7px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 29px 752px 0 91px;
}

.u-section-2 .u-text-5 {
  margin: -424px 83px 0 488px;
}

.u-section-2 .u-shape-1 {
  width: 1021px;
  height: 161px;
  margin: -324px 55px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-4 {
    margin-right: 644px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 371px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-4 {
    margin-right: 424px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 151px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-right: 244px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 44px;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 410px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px auto 0;
}

.u-section-3 .u-text-2 {
  margin: -48px 76px 45px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 451px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px auto 0 68px;
}

.u-section-4 .u-text-2 {
  margin: -48px 57px 0 610px;
}

.u-section-4 .u-text-3 {
  margin: -308px 598px 60px 68px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 467px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-left: 247px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-text-2 {
    margin-left: 67px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 571px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px auto 0 68px;
}

.u-section-5 .u-text-2 {
  margin: -48px 57px 0 610px;
}

.u-section-5 .u-text-3 {
  margin: -420px 598px 60px 68px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 467px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: 247px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-text-2 {
    margin-left: 67px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-2 {
    margin-left: 0;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 803px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px auto 0 68px;
}

.u-section-6 .u-text-2 {
  margin: -48px 57px 0 610px;
}

.u-section-6 .u-text-3 {
  margin: -644px 598px 60px 68px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 467px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 399px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-2 {
    margin-left: 247px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 179px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-text-2 {
    margin-left: 67px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-2 {
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 213px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 20px auto 0 89px;
}

.u-section-7 .u-icon-1 {
  width: 49px;
  height: 49px;
  margin: -53px auto 0 21px;
  padding: 0;
}

.u-section-7 .u-text-2 {
  margin: 24px 89px 33px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    font-size: 1rem;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 132px;
}

.u-section-8 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 418px 0 32px;
}

.u-section-8 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: -52px 40px 36px auto;
  padding: 10px 65px 10px 64px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 250px;
  }

  .u-section-8 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 0;
  }
}