 .u-section-1 {
  background-image: none;
  min-height: 721px;
}

.u-section-1 .u-image-1 {
  height: 564px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-1 .u-shape-1 {
  height: 468px;
  background-image: none;
  margin-top: -521px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 646px;
  min-height: 664px;
  height: auto;
  margin: -539px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 332px auto 0;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 14px auto 0;
  padding: 10px 31px 10px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 5.5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -525px calc(((100% - 1140px) / 2) + 65px) 0 calc(((100% - 1140px) / 2) + 86px);
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.8;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 623px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 420px;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 39px auto 0;
  padding: 12px 58px 12px 57px;
}

.u-section-2 .u-text-1 {
  margin: 30px auto 0;
}

.u-section-2 .u-icon-1 {
  width: 101px;
  height: 101px;
  margin: 30px auto 23px;
  padding: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 175px;
}

.u-section-3 .u-list-1 {
  margin-top: 0;
  margin-bottom: 0;
  grid-template-rows: auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 176px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-3 .u-icon-1 {
  width: 64px;
  height: 77px;
  margin: 11px auto 0 32px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: -65px 0 0 107px;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 8px;
}

.u-section-3 .u-icon-2 {
  width: 64px;
  height: 77px;
  margin: 11px auto 0 32px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: -65px 0 0 107px;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 8px;
}

.u-section-3 .u-icon-3 {
  width: 64px;
  height: 77px;
  margin: 11px auto 0 32px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -65px 0 0 107px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 375px;
  }

  .u-section-3 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -77px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -77px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.5rem;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 867px;
}

.u-section-4 .u-text-1 {
  margin: 58px auto 0;
}

.u-section-4 .u-text-2 {
  width: 746px;
  margin: 22px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 632px;
  grid-gap: 17px 17px;
  width: 924px;
  margin: 33px auto 0;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-icon-1 {
  width: 85px;
  height: 85px;
  margin: -613px auto 0 216px;
  padding: 0;
}

.u-section-4 .u-icon-2 {
  width: 85px;
  height: 85px;
  margin: -85px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-3 {
  width: 85px;
  height: 85px;
  margin: 237px auto 0;
  padding: 0;
}

.u-section-4 .u-icon-4 {
  width: 85px;
  height: 85px;
  margin: -85px 216px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-5 {
  width: 85px;
  height: 85px;
  margin: -85px auto 0 216px;
  padding: 0;
}

.u-section-4 .u-icon-6 {
  width: 85px;
  height: 85px;
  margin: -407px 216px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 342px 126px 0 748px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  width: 266px;
  margin: -28px auto 0;
}

.u-section-4 .u-text-5 {
  font-weight: 700;
  margin: -28px 748px 0 125px;
}

.u-section-4 .u-text-6 {
  font-weight: 700;
  margin: -350px 762px 0 139px;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  width: 238px;
  margin: -28px auto 0;
}

.u-section-4 .u-text-8 {
  font-weight: 700;
  margin: -56px 139px 0 762px;
}

.u-section-4 .u-list-1 {
  width: 924px;
  margin: -152px auto 42px;
}

.u-section-4 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 632px;
}

.u-section-4 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-4 .u-text-9 {
  margin: 176px 20px 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-4 .u-text-10 {
  margin: 176px 20px 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-4 .u-text-11 {
  margin: 176px 20px 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-4 .u-text-12 {
  margin: 176px 20px 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 10px 0;
}

.u-section-4 .u-text-13 {
  margin: 176px 20px 0;
}

.u-section-4 .u-container-layout-6 {
  padding: 10px 0;
}

.u-section-4 .u-text-14 {
  margin: 176px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-icon-6 {
    margin-top: -376px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 26px;
    margin-left: 648px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 648px;
    margin-left: 25px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 662px;
    margin-left: 39px;
  }

  .u-section-4 .u-text-8 {
    width: 238px;
    margin-right: 39px;
    margin-left: 662px;
  }

  .u-section-4 .u-text-9 {
    width: 236px;
  }

  .u-section-4 .u-text-10 {
    width: 236px;
  }

  .u-section-4 .u-text-11 {
    width: 236px;
  }

  .u-section-4 .u-text-12 {
    width: 236px;
  }

  .u-section-4 .u-text-13 {
    width: 236px;
  }

  .u-section-4 .u-text-14 {
    width: 236px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-gallery-1 {
    width: 720px;
    height: 1039px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-4 .u-icon-1 {
    margin-top: -989px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 454px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 453px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 481px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
    margin-left: 481px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1119px;
  }

  .u-section-4 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3709px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-gallery-1 {
    width: 540px;
    height: 3173px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-icon-1 {
    margin-top: -3123px;
    margin-left: 162px;
  }

  .u-section-4 .u-icon-4 {
    margin-right: 162px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 162px;
  }

  .u-section-4 .u-icon-6 {
    margin-right: 162px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 274px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 273px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 301px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 301px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2464px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    height: 2029px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -1979px;
    margin-left: 102px;
  }

  .u-section-4 .u-icon-4 {
    margin-right: 102px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 102px;
  }

  .u-section-4 .u-icon-6 {
    margin-right: 102px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 74px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 73px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 101px;
  }

  .u-section-4 .u-text-8 {
    margin-left: 101px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 451px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 992px;
  margin: 42px auto;
}

.u-section-5 .u-image-1 {
  min-height: 367px;
  background-image: url("images/24d767ce6c156eb07b1fc26c266211f5_XL.jpg");
  background-position: 50% 50%;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 29px -32px 0 42px;
}

.u-section-5 .u-text-2 {
  margin: 12px -32px 0 42px;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 29px auto 0 42px;
  padding: 10px 65px 10px 64px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-5 .u-image-1 {
    min-height: 348px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 348px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 367px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    min-height: 267px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    min-height: 401px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 446px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-5 .u-image-1 {
    min-height: 252px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 208px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  line-height: 1.3;
  font-size: 2.25rem;
  margin: 99px auto 0 69px;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: -46px 219px 60px auto;
  padding: 10px 65px 10px 64px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-btn-1 {
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }
}