.u-section-1 .u-sheet-1 {
  min-height: 463px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  margin: 32px 654px 0 35px;
}

.u-section-1 .u-text-2 {
  margin: -108px 35px 0 570px;
}

.u-section-1 .u-text-3 {
  margin: -196px 654px 45px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 488px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 405px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 488px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 268px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 185px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 268px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 88px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 5px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 88px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 286px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 21px auto 0;
}

.u-section-2 .u-text-2 {
  width: 746px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  width: 392px;
  margin: 21px auto 28px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1174px;
}

.u-section-3 .u-list-1 {
  width: 977px;
  margin: 0 auto;
}

.u-section-3 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 1299px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/43E42369-30FC-4FB0-A266-C99FBBB71951.JPEG");
}

.u-section-3 .u-container-layout-1 {
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 370px;
  height: 201px;
  margin: 35px auto 0 28px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -180px 221px 0 auto;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 2px auto 0 426px;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  margin: 11px 122px 0 409px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 370px;
  height: 201px;
  margin: 35px auto 0 28px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -180px 221px 0 auto;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 2px auto 0 426px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  margin: 11px 122px 0 409px;
}

.u-section-3 .u-image-4 {
  background-image: url("images/507D6680-CE9F-4975-B56D-F7F8736174E3.JPEG");
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-image-5 {
  width: 370px;
  height: 201px;
  margin: 35px auto 0 28px;
}

.u-section-3 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -180px 221px 0 auto;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 2px auto 0 426px;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  margin: 11px 122px 0 409px;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-image-6 {
  width: 370px;
  height: 201px;
  margin: 35px auto 0 28px;
}

.u-section-3 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -180px 221px 0 auto;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  margin: 2px auto 0 426px;
}

.u-section-3 .u-text-12 {
  font-size: 1.125rem;
  margin: 11px 122px 0 409px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    width: 940px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 103px;
    margin-left: 390px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -200px;
    margin-right: 66px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 1px;
    margin-left: 435px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 40px;
    margin-left: 435px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 103px;
    margin-left: 390px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 409px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 103px;
    margin-left: 390px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 313px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 273px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 255px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 255px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 313px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
    margin-left: 273px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 313px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 0;
    margin-left: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 166px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 235px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 93px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-4 {
    margin-top: -203px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-5 {
    margin-top: 7px;
    margin-left: 75px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 75px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-7 {
    margin-right: 166px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-8 {
    margin-left: 235px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 93px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-10 {
    margin-right: 166px;
    font-size: 1rem;
  }

  .u-section-3 .u-text-11 {
    margin-left: 235px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 93px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 105px;
    margin-top: -164px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 34px;
    margin-left: 148px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -97px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: -187px;
  }

  .u-section-3 .u-text-5 {
    margin-top: -18px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 105px;
    margin-top: -164px;
  }

  .u-section-3 .u-text-8 {
    margin-top: -294px;
    margin-left: 148px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -97px;
    margin-left: 0;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-3 .u-text-10 {
    margin-right: 105px;
    margin-top: -164px;
  }

  .u-section-3 .u-text-11 {
    margin-left: 148px;
    margin-top: -150px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -97px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 283px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 40px 418px 0 32px;
}

.u-section-4 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 2px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  margin: 22px 40px 0 auto;
  padding: 10px 65px 10px 64px;
}

.u-section-4 .u-text-2 {
  margin: -66px 418px 40px 32px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 250px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 250px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 30px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }
}